
body{
    font-family: 'Montserrat';
    font-weight: 500;
}

h1{
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3rem 10rem 7rem;
}

.rotate{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:11rem;
}

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }

    .rotate{
        width: 70%;
        padding-top: 1rem;
        position: static;
        transform: rotate(0);
    }
}

.title-btn{
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

#title{
    background-color: #ff4c68;
    color:white;
}

/* Navigation Bar */

.navbar{
    padding-left:0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 15px;
}

.nav-link{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}


/* Section Two  - Features */

#features{
    background-color: white;
    padding:7rem 5rem 3rem; 
    position: relative;
    z-index: 1;
}

h3{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem auto 0;
    text-align: center;
}


.checked-circle{
    width: 100%;
    text-align: center;
    /* font-size: 4rem; */
    color: #ef8172;
}

.checked-circle:hover{
    color: #ff4c68;
}


.features-content{
    color : #8f8f8f;
    margin-bottom: 5rem;
    text-align: center;
    padding:1rem 2.5rem 0;
}



/* Testimonial Section */


h2{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7rem 15rem;
}

.testimonial-image{
    width: 10rem;
    border-radius: 100%;
    margin:1.5rem;
}

/*  Press Section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3rem;
}

.press-logo{
    margin: 1.5rem 1.5rem 2rem;
    width: 15rem;
}

/*  pricing */

#pricing{
    padding: 5rem;
    text-align: center;
}

.pricing-column{
    padding: 3rem 2rem;
}


/* Bottom Section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7rem 15rem;
}

.cta-btn{
    padding: 0.5rem;
    margin: 3rem 1rem;
}

.cta-h3{
    font-size: 3.5rem;
    color: #fff;
}

/* Footer */

#footer{
    padding: 3rem 1rem 2rem;
    text-align: center;
    background-color: #fff;
}

.footer-icon{
    padding: 0.5rem;
}

.footer-content{
    font-size: 1rem;
    color: black;
    opacity: 0.5;
}